<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head.ejs'); -%>
<body>
    <!-- Header -->
    <%- include('layouts/header.ejs'); -%>

    <!-- Cart -->
    <%- include('layouts/cart.ejs'); -%>
    
    <!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			404 Page Not Found
		</h2>
	</section>

	<%- include('layouts/footer.ejs'); -%>
</body>
</html>