 <div class="page-sidebar pagescroll">
                <!-- MAIN MENU - START -->
                <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                    <!-- USER INFO - START -->
                    <div class="profile-info row">
                        <div class="profile-image col-xs-4">
                            <a href="ui-profile.html">
                            <img alt="profile"  src="/upload/3-piece Set0.jpg" class="">
                            </a>
                        </div>
                        <div class="profile-details col-xs-8">
                            <h3>
                                <a href="ui-profile.html" class="name">Admin</a>
                                <!-- Available statuses: online, idle, busy, away and offline -->
                                <span class="profile-status online"></span>
                            </h3>
                            <p class="profile-title">Web Developer</p>
                        </div>
                    </div>
                    <!-- USER INFO - END -->
                    <ul class='wraplist'>
                        <li class='menusection'>Main</li>
                        <li class="open">
                            <a href="/admin">
                            <i class="fa fa-dashboard"></i>
                            <span class="title">Dashboard</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Admin</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/new"  >New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Category</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/cate/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/cate/new"  >New</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Size</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/size/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/size/new"  >New</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Color</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/color/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/color/new"  >New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Size</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/size/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/size/new"  >New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Tags</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/tag/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/tag/new"  >New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Product</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/product/list"  >List</a>
                                </li>
                                <li>
                                    <a class="" href="admin/product/new"  >New</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Customer</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/customer/list"  >List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Đơn Hàng</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/cart/danh-sach.html"  >Danh Sách</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- MAIN MENU - END -->
            </div>